.dashboard {
  margin: 20px 20px 100px 20px;
}

.open {
  margin-right: 500px;
  margin-bottom: 150px;
}

.dashboard-header {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  align-items: center;
}

.head-open {
  position: absolute;
  width: 75%;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: transparent;
  align-items: center;
}

.dashboard-title {
  margin-left: 6.5em;
}

.dashboard-title h1 {
  font-size: 26px;
  font-weight: 500;
}

.dashboard-title h1 span {
  font-weight: 700;
  color: #f9a109;
}

.dashboard-search {
  margin-right: 4em;
  display: flex;
  align-items: center;
  position: relative;
}

.dashboard-search input {
  padding: 16px 32px 16px 60px;
  border: none;
  outline: none;
}

.dashboard-search input:focus {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.search-icon {
  color: #454545;
  align-self: center;
  position: absolute;
  left: 12px;
  pointer-events: none;
}

.dashboard-content {
  margin-top: 120px;
}
